.card-view {
	position: relative;
	width: 100%;
	padding: 15px;
	background-color: white;
	-webkit-box-shadow: 0 0 5px 0 grey;
	-moz-box-shadow: 0 0 5px 0 grey;
	box-shadow: 0 0 5px 0 grey;
}

.card-view .card-view-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(216, 216, 216, 0.4);
	z-index: 2;
}

.card-view .detail {
	min-width: 315px;
}

.card-view .detail button {
	height: 35px;
	font-size: 17px;
	margin: 0;
}

.card-view .machine-image-container {
	position: absolute;
	top: 20px;
	right: 0;
	height: 140px;
	text-align: end;
}

.card-view .machine-image-container img {
	height: 100%;
	width: auto;
}

.card-view.invalid {
	opacity: 0.7;
}

.waiting {
	color: #ffc107;
}

.confirmed {
	color: #28a745;
}

.cancelled-expired {
	color: red;
}
