.card-view {
	position: relative;
	width: 100%;
	height:170px;
	padding: 15px;
	background-color: white;
	-webkit-box-shadow: 0 0 5px 0 grey;
	-moz-box-shadow: 0 0 5px 0 grey;
	box-shadow: 0 0 5px 0 grey;
}

.card-view .detail {
	min-width: 315px;
}

.card-view .machine-image-container {
	position: absolute;
	top: 13px;
	right: 0;
	height: 140px;
	text-align: end;
}

.card-view .machine-image-container img {
	height: 100%;
	width: auto;
}

.waiting {
	color: #ffc107;
}

.confirmed {
	color: #28a745;
}
